.title {
  @apply w-full font-bold text-3xl p-0 border-0;
}

.title:placeholder-shown {
  @apply placeholder-current text-gray-300;
}

.title,
.title:focus {
  outline: 0px !important;
  border-color: inherit;
  -webkit-box-shadow: none;
}
